{% extends 'base.html' %}
{% block title %}Food Store | New Items{% endblock %}
{% block content %}
  <script src="/assets/js/categories-form.js" charset="utf-8" defer></script>
  <div class="loader justify-content-center text-secondary d-none">
    <div class="spinner-border mt-5">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form action="/categories/{{category.id|string + "/" if category is defined else '' }}" method="POST"  enctype="application/json">
        {% if category is defined %}
          <input type="hidden" name="id" value="{{category.id}}">
        {% endif %}
        <div class="form-group">
          <input type="text" placeholder="Name" name="name" class="form-control product_name" required value="{{category.name if category is defined else '' }}">
        </div>
      </form>
      <div class="row">
        <div class="col-sm-2">
          <button class="w-100 btn btn-primary btn-lg saveCategoryButton">Save Category</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
