{% extends 'base.html' %}
{% block title %}Food Store | New Items{% endblock %}
{% block content %}
  <script src="/assets/js/items-form.js" charset="utf-8" defer></script>
  <div class="loader justify-content-center text-secondary d-none">
    <div class="spinner-border mt-5">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form action="/storage-items" method="POST"  enctype="application/json">
        <!-- Body of form is dynamically created in static/assets/js/items-form.js -->
      </form>
      <div class="row">
        <div class="col-sm-2">
          <button class="w-100 btn btn-primary btn-lg saveItemsButton">Save Item(s)</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
