{% extends 'base.html' %}
{% block title %}Food Store | Storage Items{% endblock %}
{% block navextra%}
  <script src="/assets/js/storage-items-index.js" charset="utf-8" defer></script>
  <a href="/storage-items/new" class="btn btn-secondary btn-lg">
    <i class="fas fa-plus-square"></i>
    Add Item(s)
  </a>
{% endblock %}
{% block content %}
  <form>
    <div class="row">
      <div class="col-md-2 col-sm-12 pb-3">
        <input type="submit" value="Search" class="btn btn-primary w-100" />
      </div>
      <div class="form-group col-sm-12 col-md-7">
        <input type="text" name="search" class="form-control w-100" id="search" placeholder="Search" value="{{params.get('search') or ''}}">
      </div>
      <div class="form-group col-md-2 col-sm-12">
        <select class="form-control w-100" name="category">
            <option value="">Category</option>
            {% for category in categories %}
              <option value="{{ category.id }}" {{ 'selected' if category.id == (params.get('category') | int) else ''}}>
                {{ category.name }}
              </option>
            {% endfor %}
          </select>
      </div>
      <div class="col-md-1 col-sm-12 form-group">
        <a href="/" class="btn btn-secondary w-100">Clear</a>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>
              Name
              <!-- <span class="d-flex flex-column">
                  <i class="fas fa-sort-up"></i>
                  <i class="fas fa-sort-down"></i>

                </span> -->
            </th>
            <th>
              Expiration
              <!-- <i class="fas fa-sort"></i> -->
            </th>
            <th>
              Quantity
              <!-- <i class="fas fa-sort"></i> -->
            </th>
            <th class="d-none d-md-table-cell">
              Description
              <!-- <i class="fas fa-sort"></i> -->
            </th>
            <th class="d-none d-md-table-cell">Categories</th>
            <th class="d-none d-md-table-cell"></th>
          </tr>
        </thead>
        <tbody>
          {% for product_data in items_table %}
            {% for index in range(product_data['item_sets']|length) %}
              {% set item_set = product_data['item_sets'][index] %}
              <tr class="itemset table-{{item_set['context']}}" data-itemset="{{item_set['data']['id']}}">
                {% if index == 0 %}
                  <td class="product_name" rowspan="{{product_data['item_sets']|length}}">
                    {{ product_data['product_name'] }}
                  </td>
                {% endif %}
                <td class="expiration">{{ item_set['data'].expiration.strftime("%m/%d/%Y") }}</td>
                <td class="quantity">{{ item_set['data'].quantity }}</td>
                <td class="description d-none d-md-table-cell">{{ item_set['data'].description or '' }}</td>
                <td class="categories  d-none d-md-table-cell">
                  {% for category in item_set['data'].categories %}
                    {{ category.to_chip_ele()|safe }}
                  {% endfor %}
                </td>
                <td class="justify-content-end d-none d-md-table-cell">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-secondary increment">Increment</a>
                    <a class="btn btn-sm btn-secondary decrement">Decrement</a>
                    <a class="btn btn-sm btn-secondary manage-categories">Categories</a>
                    <a class="btn btn-sm btn-warning" href="/storage-items/{{item_set['data']['id']}}/edit">Edit</a>
                    <a class="btn btn-sm btn-danger delete">Delete</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      {% if items_table|length == 0 %}
        <div class="alert alert-info">
          You have not added any items to storage yet.
        </div>
      {% endif %}
    </div>
  </div>
  <div id="category-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title">Manage Categories</span>
        </div>
        <div class="modal-body">
          <select id="category-manager" multiple class="form-control w-100" name="category">
            {% for category in categories %}
              <option value="{{ category.id }}">
                {{ category.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close-modal">Close</button>
          <button type="button" class="btn btn-primary save-categories">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
